
body {
  font-family: Inter;
  background: rgba(231, 240, 254, 1);
}

.leaderboard-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin-top: -120px;
  margin-left: -520px;
  margin-right: -520px;
}

.back-icon, .menu-icon {
  font-size: 45px;
  cursor: pointer;
  font-family: 'Times New Roman', Times, serif;
}

.tabs {
  display: flex;
  justify-content: center;
  background: #FFFFFF;
  border-radius: 14px;
  height: 50px;
  width: 400px;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}

.tab.active {
  border-bottom: 3px solid #3B5987;
}

.main-content {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.top3-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 50px;
  margin-left: -200px;
  color: #FFFFFF;
}

.rank-1 {
  width: 200px;
  height: 200px;
  margin-top: -50px;
  background: #3B5987;
  border: 2.25px solid #FFFFFF;
  border-radius: 40px 40px 0 0;
  z-index: 2; 
  text-align: center;
  padding: 10px;
  margin-left: calc(50% - 100px);
  position: relative;
}

.rank-2 {
  width: 150px;
  height: 150px;
  background: #3B5987;
  border: 2.25px solid #FFFFFF;
  border-radius: 20px 0 0 20px;
  text-align: center;
  padding: 10px;
  position: absolute;
  right: calc(50% + 100px);
}

.rank-3 {
  width: 150px;
  height: 150px;
  background: #3B5987;
  border: 2.25px solid #FFFFFF;
  border-radius: 0 20px 20px 0;
  text-align: center;
  padding: 10px;
  position: absolute;
  left: calc(50% + 60px);
}

.top3-card .profile-pic img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-top: -40px;
}

.crown-icon {
  position: absolute;
  top: -60px;
  left: calc(50% - 20px);
  font-size: 30px;
}

.users-list {
  background-color: #3B5987;;
  border-radius: 20px;
  padding: 20px;
  width: 400px;
  margin-right: -400px;
}

.user-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  color: #fff;
  border-bottom: 1px solid #fff; 
}

.rank-circle {
  background-color: #3a5a99;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  padding: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.user-name{
  margin-left: -150px;
}
.user-icon {
  font-size: 15px;
}

.user-icon.up {
  color: green;
}

.user-icon.down {
  color: red;

}

@media (max-width: 768px) {
  .header {
    padding: 5px 10px;
    margin-top: 0;
    margin-left: -25px;
    margin-right: -25px;
  }

  .back-icon, .menu-icon {
    font-size: 30px; 
  }

  .tabs {
    width: 100%; 
    height: 40px; 
  }

  .tab {
    padding: 5px 10px;
  }

  .main-content {
    flex-direction: column;
    margin-top: 0; 
    padding: 0;
  }

  .top3-container {
    flex-direction: row;
    justify-content: center;
    margin: 20px 0 10px; 
    position: relative; 
  }

  .rank-1 {
    width: 160px;
    height: 160px;
    margin: 0; 
    border-radius: 40px 40px 0 0;
  }

  .rank-2 {
    width: 130px;
    height: 130px;
    border-radius: 20px 0 0 20px;
    left: -30px; 
  }

  .rank-3 {
    width: 130px;
    height: 130px;
    border-radius: 0 20px 20px 0;
    right: -150px; 
  }

  .top3-card .profile-pic img {
    width: 60px;
    height: 60px;
    margin-top: -30px;
  }

  .crown-icon {
    top: -45px;
    font-size: 25px;
  }

  .users-list {
    width: 400px;
    margin: 20px 0 0;
    border-radius: 40px 40px 0 0; 
    padding: 15px;
  }

  .user-card {
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #fff; 
  }

  .rank-circle {
    width: 30px;
    height: 30px;
    font-size: 14px;
  }

  .user-name {
    margin-left: 0; 
    font-size: 16px;
  }

  .user-icon {
    font-size: 18px; 
  }
}
